<!-- admin-login.component.html -->

<!-- admin-login.component.html -->
<body >
<div class="container login w-75 mt-5" >
  <div class="card shadow">
    <div class="card-body row">

      <!-- Left Column (Login Form) -->
      <div class="col-6 adminpart d-flex flex-column align-items-center">
        <h2 class="card-title mb-4">User Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <!-- Admin Username -->
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username"  class="form-control w-100">
            <!-- Display error message if the username field is invalid -->
            <div *ngIf="loginForm.get('username')!.invalid && (loginForm.get('username')!.dirty || loginForm.get('username')!.touched)"
                 class="text-danger">Username is required</div>
          </div>

          <!-- Admin Password -->
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password" class="form-control w-100">
            <!-- Display error message if the password field is invalid -->
            <div *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
                 class="text-danger">Password is required</div>
          </div>
          <br/>
          <div *ngIf="adminNotFound" class="error-message">COMPTE introuvable !</div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary mt-4 ">Login</button>

        </form>
        <!-- Create Account Link -->
         <p class="mt-3 ms-5">Don't have an account?  <button mat-raised-button  (click)="createaccount()">Create Account</button>
         </p>
      </div>

      <!-- Vertical Line -->
      <div class="col-1 d-flex align-items-center justify-content-center">
        <div class="vl"></div>
      </div>

      <!-- Right Column (Image) -->
      <div class="col-5">
        <img src="./assets/images/dashboard/login@4x.png" class="image" style="width: 500px;">
      </div>

    </div>
  </div>
</div>
</body>
