

/* Add this to your component's CSS file */
.vl {
    border-left: 2px solid #ccc;
    height: 300px; /* Adjust the height as needed */
    margin-left: 20px; /* Adjust the margin as needed */
  }


  .adminpart{
    margin-top: 10%;

  }

  .adminpart input{
    width: 50%;
  }

  .error-message {
    color: white;
    background-color: #e7a6a6; /* Red color */
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  .card{
    margin-top: 10%;
  }
  .message{
    width: 100px;
  }
