


<!-- Profile Icon -->

<form [formGroup]="createAccountForm" (ngSubmit)="onCreateAccountSubmit()">
    <div class=" inputs">
        <div class="profile-icon">
            <mat-icon class="big-icon w-100">account_circle</mat-icon>
          </div>
    <mat-form-field class="full-width" >
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
      <mat-error *ngIf="createAccountForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width" >
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="createAccountForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width" >
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>
      <mat-error *ngIf="createAccountForm.get('confirmPassword')?.hasError('required')">
        Confirm Password is required
      </mat-error>
      <mat-error *ngIf="createAccountForm.hasError('passwordMismatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
  
    
    <div *ngIf="show" style="color: red;">
        <p>Passwords do not match !</p>
      </div>
      <div *ngIf="success" style="color: green;">
        <p>Account added successfully</p>
      </div>
            <br/>
      <button mat-raised-button color="primary" type="submit" class="ms-4" >Create Account</button>
    </div>
  </form>
  